C:\Users\Dizaster\Desktop\Books\EECS3311\Lab2\VideoCo\.gradle\buildOutputCleanup\buildOutputCleanup.lock
C:\Users\Dizaster\Desktop\Books\EECS3311\Lab2\VideoCo\.gradle\buildOutputCleanup\outputFiles.bin